.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.DS_Store
.Rproj
.Rdata
.rdb
.rdx
ADMMsigma.Rproj
inst/doc
docs
vignettes/Tutorial_cache
vignettes/Benchmark_cache
vignettes/Details_cache
vignetttes/Simulations_cache
