.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.DS_Store
.Rproj
.Rdata
.rdb
.rdx
ADMMsigma.Rproj
inst/doc
docs
vignettes/Tutorial_cache/html/__packages
vignettes/Benchmark_cache/html/__packages
vignettes/Details_cache/html/__packages
vignetttes/Simulations_cache/html/__packages
