.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.DS_Store
.Rbuildignore
.Rproj
.Rdata
.rdb
.rdx
.Rmd
ADMMsigma.Rproj
README.Rmd
docs/ADMMsigma.Rmd
docs/ADMMsigma_cache/html/*.rdb
docs/ADMMsigma_cache/html/*.rdx
docs/ADMMsigma_cache/html/*.Rdata
docs/ADMMsigma_cache/latex/*.rdb
docs/ADMMsigma_cache/latex/*.rdx
docs/ADMMsigma_cache/latex/*.Rdata
docs/ADMMsigma_cache/markdown_github/*.rdb
docs/ADMMsigma_cache/markdown_github/*.rdx
docs/ADMMsigma_cache/markdown_github/*.Rdata
